* {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: #020617;
}

body {
  background-color: #111827;
}

h1 {
  font-size: 32px;
  color: #f5f5f4;
  border-bottom: 2px solid #f5f5f4;
}

p {
  font-size: 32px;
  height: 1em;
  margin: 4px;
}

p#errorReadout {
  font-size: 20px;
  height: 1em;
  margin: 2px;
  text-align: left;
}

.calculator-body {
  background-color: #334155;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 350px;
  padding: 8px 8px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 8px;
  justify-content: space-around;
  align-content: space-around;
}

.calculator-readout {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  justify-self: stretch;
  align-self: stretch;

  border-radius: 4px;
  margin-bottom: 8px;
  padding: 4px;
  background-color: #d4d4d4;
  text-align: right;
}

.numpad-key {
  justify-self: center;
  align-self: center;
  grid-column: span 1;

  box-sizing: border-box;
  background-color: #f5f5f4;
  border-radius: 4%;
  padding: 13px 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: bold;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.numpad-key .negative {
  font-size: 13px;
}

.numpad-key.operator {
  background-color: #64748b;
  color: #fafaf9;
}

.numpad-key.equals {
  background-color: #64748b;
  color: #fafaf9;
  grid-column: 3 / span 2;
  font-size: 24px;
}

.numpad-key.clear, .numpad-key.all-clear {
  background-color: #0f172a;
  color: #fafaf9;
}

/* Thank you to tailwindcss.com for sample color palettes */